# Python bytecode and cache
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/

# Distribution and builds
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
*.exe

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE and Editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS and system files
Thumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store

# Temporary logs and task files
*.log
scratch/
.system_generated/
